.gantt-layout {
  height: 500px;
  overflow-y: auto;
}

.gantt-table {
  width: max-content;   /* ⬅️ ВАЖНО */
  table-layout: fixed;
}

.gantt-table th {
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
}

.mat-column-gantt {
  min-width: 0;
  padding: 0;
}

.timeline-wrapper {
  overflow: hidden;
}

.timeline {
  position: relative;
  width: max-content;
  height: 48px;
}

.bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  background: #3f51b5;
  border-radius: 4px;
}

.gantt-footer {
  height: 16px;
  padding: 0;
}

.gantt-x-scroll {
  height: 16px;
  overflow-x: auto;
}

.gantt-x-content {
  /*width: 3000px;*/
  height: 1px;
}

.gantt-layout {
  display: flex;
  width: 100%;
  /*height: 100%;*/
}

.vertical-scroll {
  height: auto;
  overflow-y: auto;
}

.table-pane, .gantt-pane {
  height: auto; /* под контент */
  width: 100%;
  overflow-y: hidden;
}

.table-pane {
  overflow-x: auto;
}

.gantt-pane {
  overflow-x: hidden;
}

.mat-row {
  box-sizing: border-box;
}

.mat-cell {
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
}

.tree-cell {
  display: flex;
  align-items: center;
  height: 48px;
}

.mat-icon-button {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.timeline {
  position: relative;
  height: 48px;
  min-width: max-content;
}

.gantt-pane {
  position: relative;
}

.gantt-overlay {
  position: absolute;
  top: 60px;
  bottom: 16px; /* footer */
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 10;
}

.today-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: rgba(25, 118, 210);
  opacity: 0.9;
}

.today-line::after {
  content: '';
  position: absolute;
  top: 0;
  left: -4px;
  width: 10px;
  height: 10px;
  background: rgba(25, 118, 210);
  border-radius: 50%;
}

.today-line::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -4px;
  width: 10px;
  height: 10px;
  background: rgba(25, 118, 210);
  border-radius: 50%;
}
