.gantt-layout {
  height: 500px;
  overflow-y: auto;
}

.gantt-table {
  width: 100%;
  table-layout: fixed;
}

.mat-column-gantt {
  min-width: 0;
  padding: 0;
}

.timeline-wrapper {
  overflow: hidden;
}

.timeline {
  position: relative;
  width: max-content;
  height: 48px;
}

.bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  background: #3f51b5;
  border-radius: 4px;
}

.gantt-footer {
  height: 16px;
  padding: 0;
}

.gantt-x-scroll {
  height: 16px;
  overflow-x: auto;
}

.gantt-x-content {
  width: 3000px;
  height: 1px;
}

.gantt-layout {
  display: flex;
  width: 100%;
  /*height: 100%;*/
}

.vertical-scroll {
  height: auto;
  overflow-y: auto;
}

.table-pane, .gantt-pane {
  height: auto; /* под контент */
}

.mat-row {
  box-sizing: border-box;
}

.mat-cell {
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
}
