<mat-button-toggle-group [(ngModel)]="view">
  <mat-button-toggle value="day">Day</mat-button-toggle>
  <mat-button-toggle value="week">Week</mat-button-toggle>
</mat-button-toggle-group>

<div class="vertical-scroll">
  <table mat-table [dataSource]="dataSource" class="gantt-table">

    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Task</th>
      <td mat-cell *matCellDef="let task" class="left-scroll">
        {{ task.id }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Task</th>
      <td mat-cell *matCellDef="let task" class="left-scroll">
        {{ task.name }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Owner -->
    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef>Owner</th>
      <td mat-cell *matCellDef="let task" class="left-scroll">
        {{ task.owner }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let t" class="left-scroll">{{ t.status }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Priority -->
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef>Priority</th>
      <td mat-cell *matCellDef="let t" class="left-scroll">{{ t.priority }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="gantt">

      <th mat-header-cell *matHeaderCellDef class="gantt-header">
        <div class="gantt-scroll-container">
          <app-gantt-header
            #headerScroll
            [projectStart]="projectStart"
            [projectEnd]="projectEnd"
            [view]="view"
            [dayWidth]="dayWidth"
            [weekWidth]="weekWidth"
          ></app-gantt-header>
        </div>
      </th>

      <td mat-cell *matCellDef="let task" class="gantt-cell">
        <div class="gantt-scroll-container">
          <div #bodyScroll class="timeline">
            <div
              class="bar"
              [style.left.px]="offset(task)"
              [style.width.px]="width(task)"
            ></div>
          </div>
        </div>
      </td>

      <td mat-footer-cell *matFooterCellDef class="gantt-footer">
        <div
          class="gantt-x-scroll"
          #xScroll
          (scroll)="syncScroll(xScroll.scrollLeft)">
          >
          <div class="gantt-x-content"></div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [style.height.px]="rowHeight"
    ></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>



